:root {
  --square-size: 25px;
}

.square {
  width: auto;
  height: auto;
  border: 1px solid red;
}
#board {
  display: grid;
  grid-template: repeat(15, var(--square-size)) / repeat(15, var(--square-size));
}
/* TODO left here, doing the correct grid */
