:root {
  /* * These are the default values, in case JS is disabled*/
  --square-size: auto;
  --sizeOfGrid: 460px;
  --squaresPerSide: 16;
}

.square {
  width: var(--square-size);
  height: var(--square-size);
  border: 1px solid #ddd;
}
.colorized-square {
  background-color: black;
}
#board {
  display: grid;
  grid-template: repeat(var(--squaresPerSide), var(--square-size)) / repeat(
      var(--squaresPerSide),
      var(--square-size)
    );
  width: var(--sizeOfGrid);
  height: var(--sizeOfGrid);
}
