:root {
  /* * These are the default values, in case JS is disabled*/
  --square-size: auto;
  --sizeOfGrid: 82vw;
  --squaresPerSide: 16;
  --main-color: #8d8dea;
}

html,
body {
  font-family: cursive;
}

.main__controls {
  display: flex;
  flex-direction: column;
  width: 14rem;
  margin: 2rem auto;
  border: 16px solid var(--main-color);
}

.main__control {
  margin: 0.3rem;
}

.header {
  background-color: var(--main-color);
  width: 70%;
  margin: 0 auto;
  border-radius: 13px;
}

.header__label {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  margin: 0.67em 0;
  padding-top: 0.43rem;
}

.square {
  width: var(--square-size);
  height: var(--square-size);
  border: 1px solid #ddd;
}
.colorized-square {
  background-color: black;
}

#board {
  display: grid;
  grid-template: repeat(var(--squaresPerSide), var(--square-size)) / repeat(
      var(--squaresPerSide),
      var(--square-size)
    );
  width: var(--sizeOfGrid);
  height: var(--sizeOfGrid);
  margin: 0 auto;
  border: 1rem solid var(--main-color);
}

@media (min-width: 900px) {
  #board {
    width: 460px;
    height: 460px;
  }
  .header {
    max-width: 40rem;
  }
}
